.pics { 
height: 232px; 
width: 232px; 
padding:0; 
margin:0; 
overflow: hidden; 
position:relative; 
}
.pics img { 
height: 200px; 
width: 200px; 
padding: 15px; 
border: 1px solid #ccc; 
background-color: #eee; 
top:0; 
left:0 
}
.pics img {
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

button { height: 50px; width: 60px; }

#nav a { 
border: 1px solid #ccc; 
background: #fc0; 
text-decoration: none; 
margin: 0 5px; 
padding: 3px 5px;  
}

#nav a.activeSlide { 
background: #ea0 
}

#nav a:focus { 
outline: none;
 }
